[tools]
go = "latest"
ripgrep = "latest"
"aqua:rossmacarthur/sheldon" = "latest"
python = "3.13"
bat = "latest"
bottom = "latest"

{{ if index . "dev_machine" }}
golangci-lint = "latest"
buf = "latest"
k9s = "latest"
kubectl = "latest"
gdu = "latest"
crane = "latest"
yq = "latest"
dive = "latest"
uv = "latest"
{{ end }}

{{ if index . "talos_enable" }}
talos = "latest"
"aqua:siderolabs/omni/omnictl" = "latest"
"aqua:int128/kubelogin" = "latest"
{{ end }}

[settings]
http_timeout = "60"
experimental = true
idiomatic_version_file_enable_tools = ["node"]
